RewriteEngine On

# Jika file atau folder ada → jalankan normal
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Semua route arahkan ke index.php
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]